body {
	margin: 0;
	color: #555;
	font: 100% "Roboto";
}

.chat {
	width: 100%;
}

.chat_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.chat_list-item {
	padding: 10px;
	font-size: 0.9em;
}

.chat_list-item:nth-child(odd) {
	background-color: #f5f5f5;
}

.chat_input {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	border: 3px solid #f5f5f5;
}
